:root {
  --heading-color: #ffffff;
  --para-color: #dedee2;
  --main-color: #05c3de;
  --second-main-color: #2196F3;
  --bg-main-color: #171744;
  --bg-second-color: #1c1d55;
  --bg-third-color: #202066;
}

#app {
  background-color: var(--bg-main-color);
  color: var( --heading-color);
}

.row {
  margin: 0 !important;
}

.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
  background-image: -webkit-linear-gradient( 
    0deg, rgb(93,93,249) 0%, rgb(49,35,102) 100%);
}

.container-title {
  font-weight: bold;
}

.v-application .text-center {
  text-align: center !important;
  justify-content: center;
}

.h-48 {
  height: 12rem;
}

.text-blue {
  color: var(--main-color);
}

.text-green {
  color: rgba(52, 211, 153) !important;
}

.text-red {
  color: rgba(248, 113, 113) !important;
}

.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgba(251, 191, 36, var(--tw-text-opacity));
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bg-gray-800 {
  background-color: #6A1B9A;
}

.bg-gray-600 {
  background-color: #8E24AA;
}

.w-4 {
  width: 1rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.font-bold {
  font-weight: bold;
}

.nft-info {
  margin-top: 2rem !important;
  padding-top: 2rem !important;
  background-color: var(--bg-third-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.nft-info-name {
  padding-left: 2rem;
}

.hero-details {
  display: grid;
}

.profit-details {
  display: grid;
}

.p-2 {
  padding: 0.5rem;
}

.border-purple {
  border: 1px solid var(--heading-color) !important;
  color: var(--heading-color);
}

.theme--light.v-label {
  color: var(--second-main-color) !important;
}

table {
  border-spacing: 0px !important;
}

.v-application p {
  margin-bottom: 0px !important;
}